body {
  background: black;
  width: 100%;
  height: 100%;
}

#topleft {
  top: 0;
  left: 0;
}

#topright {
  top:0;
  right: 0%;
}

#bottomleft {
  bottom: 0%;
  left: 0;
}

#bottomright {
  bottom: 0%;
  right: 0%;
}

.nav {
  position:absolute;
  padding: 10px;
  margin: 10px;
  color: white;
}

.nav:hover{
  cursor:pointer;
}

.active {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
  text-align: center;
  transition: 1s;
  color: white;
  z-index: -1;
}

.fire {
  background-image: url(../images/fire-note-image6.jpg);
  background-size: cover;
}

.water {
  background-image: url(../images/water.jpg);
  background-size: cover;
}

.earth {
  background-image: url(../images/earth-doyle-peak-image7.jpg);
  background-size: cover;
}

.wind {
  background-image: url(../images/wind-image1.jpg);
  background-size: cover;
}

#logo{
  width: 300px;
  margin-left: 40%;
  margin-top: 15%;
  border-radius: 25%;
}

.hide {
  display: none;
}

#content{
  text-align: center;
}
